/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2015, 9:07:22 PM
    Author     : Mirage
*/

.navbar-custom {
    background-color: rgba(10, 10, 10, .9);
    border: 0;
    border-radius: 0;
    z-index: 1000;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-transparent {
    background: transparent;
    padding-bottom: 15px;
    padding-top: 15px;
    
}

.navbar-custom .dropdown-menu {
    background: rgba(26, 26, 26, .9);
    border-radius: 0;
    border: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-custom .navbar-brand {
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}

.navbar-custom .nav li > a {
    position: relative;
    color: rgba(255, 255, 255, .7);
}

.navbar-custom .dropdown-menu > li > a {
    border-bottom: 1px solid rgba(73, 71, 71, 0.3) !important;
    padding: 11px 15px;
    letter-spacing: 2px;
    font-size: 11px;
    color: #999;
}

.navbar-custom .dropdown-menu .dropdown-menu {
    border-left: 1px solid rgba(73, 71, 71, 0.3);
    left: 100%;
    right: auto;
    top: 0;
    margin-top: 0;
}

.navbar-custom .dropdown-menu.left-side .dropdown-menu {
    border: 0;
    border-right: 1px solid rgba(73, 71, 71, 0.3);
    right: 100%;
    left: auto;
}

.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover,
.navbar-custom  > li > a:focus,
.navbar-custom  > li > a:hover {
    background: none;
    color: #fff;
}

.navbar-custom > li > a:hover {
    background: rgba(255, 255, 255, .1) !important;
}

.navbar-custom:after {
    position: absolute;
    display: block;
    right: 0;
    top: 50%;
    margin-top: -6px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 9px;

}

.navbar-custom .navbar-toggle .icon-bar {
    background: #fff;
}

.home-section {
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center 80%;
    width: 100%;
    z-index: 0;
    height: 100vh; 
    top: 0px;
    background-image: url(../img/home_bg.jpg);
    background-size: cover;
}

.bg-gradient::before {
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.952941) 95%, rgb(0, 0, 0) 100%);
    content: ' ';
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.hs-caption {
    position: relative;
    display: table;
    height: 100%;
    width: 70%;
    margin: 0px auto;
}

.caption-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    opacity: 1;
    padding-top: 200px;
}

.hs-title-size-1 {
    letter-spacing: 4px;
    font-size: 15px;
}

.hs-title-size-2 {
    line-height: 1.3;
    letter-spacing: 3px;
    font-size: 18px;
    opacity: .8;
}

.hs-title-size-3 {
    letter-spacing: 16px;
    font-size: 46px;
}

.hs-title-size-4 {
    letter-spacing: 24px;
    font-weight: 400;
    font-size: 48px;
}

.font-alt {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.text-color-white{
    color: white;
}

.btn.btn-border-w {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .75);
    color: #fff;
}

.btn.btn-border-w:hover,
.btn.btn-border-w:focus {
    background: #fff;
    border-color: transparent;
    color: #111;
}

.btn.btn-round {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


.page-loader {
    position: fixed;
    background: #000;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9998;
}

.main {
    position: relative;
    background-color: #fff;
    z-index: 1;
}

.module,
.module-small {
    position: relative;
    padding: 140px 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    padding-top: 40vh;
}

.module-small {
    padding: 70px 0;
}

.module-title {
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #111;
    margin: 0 0 70px;
}

.module-subtitle {
    text-align: center;
    font-size: 16px;
    color: #111;
    margin-bottom: 70px;
}

.module-icon {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.module-title + .module-subtitle {
    margin-top: -35px;
}


.divider-w {
    border-top: 1px solid #eaeaea;
    margin: 0;
}

.large-text {
    font-size: 24px !important;
}
.align-center {
    text-align: center;
}

//loading screen

.loader {
    position: absolute;
    border-left: 2px solid #ffffff;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    height: 46px;
    width: 46px;
    left: 50%;
    top: 50%;
    margin: -23px 0 0 -23px;
    text-indent: -9999em;
    font-size: 10px;
    z-index: 9999;
    -webkit-animation: load 0.8s infinite linear;
    -moz-animation: load 0.8s infinite linear;
    animation: load 0.8s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 46px;
    height: 46px;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
